<header>
  <h2>some countries in the world</h2>
  <div></div>
<div></div>

   <i class="fas fa-moon moon">&nbsp; dark Mode </i>
  
  
</header>

<!-- search section 1-->
<section class="section1">
<input class="search auto-complete-search" type="text" placeholder="search for country" >
  <ul class="auto-complete-all-countries">
 <!--<li>dkd</li>
<li>dkd</li>
<li>dkd</li>  -->
</ul>  
<div></div>
<div></div>
  <select class="continents">
  <option value="all">All</option>
  <option value="africa">Africa</option>
  <option value="europe">Europe</option>
  <option value="americas">Americas</option>
  <option value="asia">Asia</option>
  <option value="oceina">Oceina</option>
  <option value="antartacia">Antartacia</option>
  </select>
</section>

<!--all countries-->
<section class="all-countries">

  <app-all-world class="components"></app-all-world>
  </section>
  
<!-- </section> -->

